@import url('variable.css');
#container{
    background-color: var(--backgroud-color-container);
}
#header{
    background-color: var(--backgroud-color-header);
}
#content{
    background-color: var(--backgroud-color-content);
}
#title{
    font-size: var(--font-size-title);
}
#subtitle{
    font-size: var(--font-size-subtitle);
}
#descricao{
    font-size: var(--font-size-text);
}
#footer{
    background-color: var(--backgroud-color-footer);
}